.search {
  width: 350px;
  margin-top: 5vh;
  margin-bottom: 10px;
  padding: 0 18px;
  height: 40px;
  border-radius: 40px;
  outline: none;
  color: $mainColor;
  font-size: 18px;
  border: 2px solid $darkColor;
  background: $transBlack;
  transition: all 0.1s linear;

  @include desktop {
    width: 700px;
    height: 60px;
    padding: 24px;
    font-size: 24px;
  }

  &::placeholder {
      font-style: italic;
      color: $medColor;
  }

  &:hover {
      border: 2px solid $medColor;
  }

  &:focus {
      border: 2px solid $mainColor;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .toggle-competitive, .toggle-weaknesses {
    display: none;
  }
  
  .toggle-competitive-label, .toggle-weaknesses-label {
    cursor: pointer;
    position: relative;
    color: $mainColor;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 28px;
    font-size: 14px;
  
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: $transBlack;
      border: 1px solid $mainColor;
      border-radius: 4px;
      width: 16px;
      height: 16px;
      font-size: 12px;
      text-align: center;
      line-height: 16px;
    }
  
    &.checked {
      &:before {
        content: '\2713';
      }
    }
  
    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}