.tem-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @import 'search.scss';

  .tem-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		overflow-y: scroll;
		width: 100%;
		align-items: center;
		height: calc(80vh - 40px);
		background: rgba(0, 0, 0, 0.5);
		padding: 30px 0;
		-webkit-mask-image: linear-gradient(0deg,transparent,#000 5%,#000 95%,hsla(0,0%,100%,0));
		mask-image: linear-gradient(0deg,transparent,#000 5%,#000 95%,hsla(0,0%,100%,0));

		@include desktop {
			padding: 50px 0;
			gap: 35px;
			height: calc(80vh - 60px);
		}

		.tem-missing-warning {
			display: flex;
			font-weight: 600;
			font-style: italic;
			color: white;
			opacity: 0.5;
			text-align: center;
			font-size: 12px;
			margin-top: 25px;
			justify-content: center;
			align-items: center;

			.tem-tag {
				color: yellow;
				margin: 0 3px;

				@include desktop {
					margin: 0 6px;
				}
			}

			.tem-warning {
				font-style: normal;
				font-weight: 400;
				font-size: 30px;
				padding-right: 6px;
				margin-top: -4px;

					@include desktop {
						font-size: 50px;
						margin-top: -6px;
					}
			}

			@include desktop {
				font-size: 22px;
				margin-top: 40px;
			}
		}

		// Hide scrollbar
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0px;
			background: transparent;
			display: none;
		}

		@import 'tem.scss';
  }

	@import 'team.scss';
}