* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

$desktop: 768px;

@mixin desktop {
    @media (min-width: 768px) { @content; }
}

$background: #1e070f;
$mainColor: #3ef0bb;
$medColor: #2c866b;
$darkColor: #243631;
$transBlack: rgba(0, 0, 0, 0.7);

.App {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: $background;
    .tem-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        @include desktop {
            width: 700px;
        }


        .search {
            width: 100%;
            margin-top: 15vh;
            margin-bottom: 20px;
            padding: 0 18px;
            height: 60px;
            border-radius: 40px;
            outline: none;
            color: $mainColor;
            font-size: 18px;
            border: 2px solid $darkColor;
            background: $transBlack;
            transition: all 0.1s linear;

            @include desktop {
                padding: 24px;
                font-size: 24px;
            }

            &::placeholder {
                font-style: italic;
                color: $medColor;
            }

            &:hover {
                border: 2px solid $medColor;
            }

            &:focus {
                border: 2px solid $mainColor;
            }
        }

        .tem-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;
            width: 100%;
            max-height: calc(75vh - 40px);

            @include desktop {
                gap: 35px;
            }

            .tem-missing-warning {
                display: flex;
                font-weight: 600;
                font-style: italic;
                color: white;
                opacity: 0.5;
                text-align: center;
                font-size: 12px;
                margin-top: 25px;
                justify-content: center;
                align-items: center;

                .tem-tag {
                    color: yellow;
                    margin: 0 3px;

                    @include desktop {
                        margin: 0 6px;
                    }
                }

                .tem-warning {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    padding-right: 6px;
                    margin-top: -4px;

                    @include desktop {
                        font-size: 50px;
                        margin-top: -6px;
                    }
                }

                @include desktop {
                    font-size: 22px;
                    margin-top: 40px;
                }
            }

            // Hide scrollbar
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
                display: none;
            }

            .tem-wrapper {
                display: flex;

                .tem-portrait {
                    border: 4px solid $mainColor;
                    background: $darkColor;
                    border-radius: 50px;
                    height: 100px;
                    width: 100px;
                    z-index: 1;

                    @include desktop {
                        width: 150px;
                        height: 150px;
                        border-radius: 75px;
                    }
                }

                .tem-info {
                    display: inline-flex;
                    flex-direction: column;
                    background: $transBlack;
                    border-radius: 0 20px 20px 0;
                    color: $mainColor;
                    padding: 6px 18px 6px 60px;
                    margin-left: -50px;
                    font-size: 16px;
                    position: relative;
                    width: 100%;

                    @include desktop {
                        font-size: 24px;
                        padding: 6px 0 6px 100px;
                        margin-left: -90px;
                    }

                    .tem-title {
                        display: inline-flex;
                        align-items: center;

                        .tem-number {
                            opacity: 0.7;
                            font-style: italic;
                        }
        
                        .tem-name {
                            margin-left: 8px;

                            @include desktop {
                                margin-left: 14px;
                            }
                        }
                    }

                    .tem-types {
                        display: flex;
                        flex-direction: column;
                        margin-top: 6px;

                        @include desktop {
                            margin-top: 12px;
                            flex-direction: row;
                            gap: 10px;
                        }

                        .tem-statlist {
                            display: flex;
                            align-items: center;
                            font-style: italic;
                            text-transform: uppercase;
                            font-size: 12px;
                            margin-top: 5px;

                            @include desktop {
                                font-size: 18px;
                                flex-direction: column;
                            }

                            .tem-type-group {
                                display: flex;
                                border-radius: 15px;
                                margin-left: 8px;
                                padding: 2px 6px;

                                @include desktop {
                                    margin-left: 0;
                                    margin-top: 8px;
                                    border-radius: 30px;
                                }

                                .tem-weakness {
                                    display: flex;
                                    flex-direction: row;
        
                                    .tem-type {
                                        width: 20px;
                                        height: 20px;

                                        @include desktop {
                                            width: 50px;
                                            height: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}